@model IEnumerable<goblin_cheese.Models.Movie.Movie>

@{
    ViewData["Title"] = "Index";
}

<div class="movie-index-table px-3 mb-4">
    <form asp-action="Index" method="GET">
        <div class="row bg-dark py-4 rounded-top">
            @if (!String.IsNullOrEmpty(ViewBag.searchQuery))
            {
                <div class="input-group">
                    <input type="text" id="searchQuery" name="searchQuery" class="form-control"
                        placeholder="Search Database" aria-label="Search Database" value="@ViewBag.searchQuery">
                    <a asp-action="Index" class="btn btn-outline-light"><i class="fa-solid fa-xl fa-xmark"></i></a>
                    <input class="btn btn-outline-success fw-bold" type="submit" value="Search" />
                </div>
            }
            else
            {
                <div class="input-group">
                    <input type="text" id="searchQuery" name="searchQuery" class="form-control"
                        placeholder="Search Database" aria-label="Search Database">
                    <input class="btn btn-outline-success bw-bold" type="submit" value="Search" />
                </div>
            }
        </div>
    </form>
    @if (Model.Count() >= 1)
    {
        <div class="row">
            <div class="col-9 px-0 border border-dark rounded-bottom bg-light">
                <table>
                    <thead class="bg-dark">
                        <tr>
                            <th></th>
                            @if (ViewBag.TitleSortParm == "title_desc")
                            {
                                <th><a asp-action="Index" asp-route-searchQuery="@ViewBag.searchQuery"
                                        asp-route-sortOrder="@ViewBag.TitleSortParm"
                                        class="py-2 px-3 text-decoration-none link-light hvr-icon-down">Title <i
                                            class="fa-solid fa-sort-down hvr-icon"></i></a></th>
                            }
                            else
                            {
                                <th><a asp-action="Index" asp-route-searchQuery="@ViewBag.searchQuery"
                                        asp-route-sortOrder="@ViewBag.TitleSortParm"
                                        class="py-2 px-3 text-decoration-none link-light hvr-icon-up">Title <i
                                            class="fa-solid fa-sort-up hvr-icon"></i></a></th>
                            }
                            @if (ViewBag.DateSortParm == "Date")
                            {
                                <th><a asp-action="Index" asp-route-searchQuery="@ViewBag.searchQuery"
                                        asp-route-sortOrder="@ViewBag.DateSortParm"
                                        class="py-2 text-decoration-none link-light hvr-icon-down">Release Date <i
                                            class="fa-solid fa-sort-down hvr-icon"></i></a></th>
                            }
                            else
                            {
                                <th><a asp-action="Index" asp-route-searchQuery="@ViewBag.searchQuery"
                                        asp-route-sortOrder="@ViewBag.DateSortParm"
                                        class="py-2 text-decoration-none link-light hvr-icon-up">Release Date <i
                                            class="fa-solid fa-sort-up hvr-icon"></i></a></th>
                            }

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var movie in Model)
                        {
                            <tr>
                                <td class="movie-index-poster-col"><img
                                        src="data:image/@movie.Poster?.ContentType;base64, @movie.Poster?.getData()"
                                        class="w-75"></td>
                                <td class="fs-4 fw-bold px-3">@movie.Title</td>
                                <td class="fs-5 fw-bold w-25">@movie.ReleaseDate</td>
                                <td class="w-25">
                                    <a asp-action="Details" asp-route-id="@movie.Id"
                                        class="btn btn-lg btn-outline-dark border-0"><i class="fa-solid fa-eye fa-xl"></i></a>
                                    <a asp-action="Edit" asp-route-id="@movie.Id"
                                        class="btn btn-lg btn-outline-warning border-0"><i
                                            class="fa-solid fa-pen-to-square fa-xl"></i></a>
                                    <a asp-action="Delete" asp-route-id="@movie.Id"
                                        class="btn btn-lg btn-outline-danger border-0"><i
                                            class="fa-solid fa-trash-can fa-xl"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-3 px-0 border border-dark rounded-bottom">
                
            </div>
        </div>
    }
    else
    {
        <div class="text-center mt-2">
            <h4 class="display-4">There are no movies with that name!</h4>
            <h1 class="display-3 fw-bold">Search TMDB?</h1>
            <form asp-action="SearchApi" method="POST">
                <input id="searchQuery" name="searchQuery" value="@ViewBag.searchQuery" hidden type="text" />
                <div class="btn-group btn-group-lg w-100" role="group">
                    <a class="btn btn-outline-danger fs-1 fw-bold text-dark border-0" asp-action="Index">No</a>
                    <input class="btn btn-outline-success fs-1 fw-bold text-dark border-0" type="submit" value="Yes">
                </div>
            </form>
        </div>
    }
</div>