@model IPagedList<goblin_cheese.Models.Movie.Movie>
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@{
    ViewData["Title"] = "Movies";
}

<div class="movie-index-table px-3 mb-4">
    <form asp-action="Index" asp-controller="Movie" method="GET">
        <div class="row bg-dark py-4 rounded-top">
            @if (!String.IsNullOrEmpty(ViewBag.searchQuery))
            {
                <div class="input-group">
                    <input type="text" id="searchQuery" name="searchQuery" class="form-control"
                        placeholder="Search Database" aria-label="Search Database" value="@ViewBag.searchQuery">
                    <a asp-action="Index" class="btn btn-lg btn-outline-light"><i class="fa-solid fa-lg fa-xmark"></i></a>
                    <button class="btn btn-lg btn-outline-primary fw-bold" type="submit"><i class="fa-solid fa-lg fa-magnifying-glass"></i></button>
                </div>
            }
            else
            {
                <div class="input-group">
                    <input type="text" id="searchQuery" name="searchQuery" class="form-control"
                        placeholder="Search Database" aria-label="Search Database">
                    <button class="btn btn-lg btn-outline-primary fw-bold" type="submit"><i class="fa-solid fa-lg fa-magnifying-glass"></i></button>
                </div>
            }
        </div>
    </form>
    @if (Model.Count() >= 1)
    {
        <div class="row pagination-row border-dark rounded-0 bg-dark text-light">
            @if (String.IsNullOrEmpty(ViewBag.searchQuery))
            {
                <p class="fw-bold text-secondary mb-0">Page @Model.PageNumber, viewing movies @Model.FirstItemOnPage through @Model.LastItemOnPage of Total @Model.TotalItemCount movies in Database [@Model.PageCount pages]</p>
            } else {
                <p class="fw-bold text-secondary mb-0">Page @Model.PageNumber, viewing movies @Model.FirstItemOnPage through @Model.LastItemOnPage of Total @Model.TotalItemCount movies for current filters [@Model.PageCount pages]</p>
            }
            
            @Html.PagedListPager(Model, page => Url.Action("Index", 
                new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }), 
                new PagedListRenderOptions { 
                    LiElementClasses = new string[] { "page-item" }, 
                    PageClasses = new string[] { "page-link link-secondary bg-dark border-0 fw-bold" }, 
                    UlElementClasses = new string[] { "pagination mb-0"},
                    DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
                    LinkToLastPageFormat = "Last",
                    DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
                    LinkToFirstPageFormat = "First",
                    DisplayLinkToPreviousPage = PagedListDisplayMode.Never,
                    DisplayLinkToNextPage = PagedListDisplayMode.Never,
                })
        </div>
        <div class="row">
            <div class="col-12 px-0 border border-dark rounded-0 bg-light">
                <table>
                    <thead class="bg-dark">
                        <tr>
                            <th></th>
                            @if (ViewBag.TitleSortParm == "title_desc")
                            {
                                <th><a asp-action="Index" asp-route-searchQuery="@ViewBag.searchQuery"
                                        asp-route-sortOrder="@ViewBag.TitleSortParm"
                                        class="py-2 px-3 text-decoration-none link-light hvr-icon-down">Title <i
                                            class="fa-solid fa-sort-down hvr-icon"></i></a></th>
                            }
                            else
                            {
                                <th><a asp-action="Index" asp-route-searchQuery="@ViewBag.searchQuery"
                                        asp-route-sortOrder="@ViewBag.TitleSortParm"
                                        class="py-2 px-3 text-decoration-none link-light hvr-icon-up">Title <i
                                            class="fa-solid fa-sort-up hvr-icon"></i></a></th>
                            }
                            @if (ViewBag.DateSortParm == "Date")
                            {
                                <th class="py-2 text-center"><a asp-action="Index" asp-route-searchQuery="@ViewBag.searchQuery"
                                        asp-route-sortOrder="@ViewBag.DateSortParm"
                                        class="text-decoration-none link-light hvr-icon-down">Release Date <i
                                            class="fa-solid fa-sort-down hvr-icon"></i></a></th>
                            }
                            else
                            {
                                <th class="py-2 text-center"><a asp-action="Index" asp-route-searchQuery="@ViewBag.searchQuery"
                                        asp-route-sortOrder="@ViewBag.DateSortParm"
                                        class="py-2 text-decoration-none link-light hvr-icon-up">Release Date <i
                                            class="fa-solid fa-sort-up hvr-icon"></i></a></th>
                            }
                            @if (ViewBag.AddedSortParm == "Added")
                            {
                                <th class="py-2 text-center"><a asp-action="Index" asp-route-searchQuery="@ViewBag.searchQuery"
                                        asp-route-sortOrder="@ViewBag.AddedSortParm"
                                        class="text-decoration-none link-light hvr-icon-down">Date Added <i
                                            class="fa-solid fa-sort-down hvr-icon"></i></a></th>
                            }
                            else
                            {
                                <th class="py-2 text-center"><a asp-action="Index" asp-route-searchQuery="@ViewBag.searchQuery"
                                        asp-route-sortOrder="@ViewBag.AddedSortParm"
                                        class="text-decoration-none link-light hvr-icon-up">Date Added <i
                                            class="fa-solid fa-sort-up hvr-icon"></i></a></th>
                            }

                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var movie in Model)
                        {
                            <tr>
                                <td class="movie-index-poster-col"><img
                                        src="data:image/@movie.Poster?.ContentType;base64, @movie.Poster?.getData()"
                                        class="w-75"></td>
                                <td class="fs-4 fw-bold w-25">@movie.Title</td>
                                <td class="fs-5 fw-bold text-center">@movie.ReleaseDate</td>
                                <td class="fs-5 fw-bold text-center">@movie.DateAdded</td>
                                <td>
                                    <div class="btn-group btn-group-lg w-100 px-3" role="group">
                                        <a asp-action="Details" asp-route-id="@movie.Id"
                                            class="btn btn-lg btn-outline-dark border-0 py-4"><i class="fa-solid fa-eye fa-2xl"></i></a>
                                        <a asp-action="Edit" asp-route-id="@movie.Id"
                                            class="btn btn-lg btn-outline-warning border-0 py-4"><i
                                                class="fa-solid fa-pen-to-square fa-2xl"></i></a>
                                        <a asp-action="Delete" asp-route-id="@movie.Id"
                                            class="btn btn-lg btn-outline-danger border-0 py-4"><i
                                                class="fa-solid fa-trash-can fa-2xl"></i></a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    }
        <div class="row bg-dark border border-dark rounded-bottom">
            <div class="col-6 py-4">
                <h1 class="display-6 text-light">Movie you're looking for not here?</h1>
                <h1 class="display-5 text-light fw-bold">Search <a href="https://www.themoviedb.org/"><img src="~/svg/TMDB_Attr.svg" class="tmdb-movie-index-attr hvr-skew-forward"></a></h1>
                @if (User.Identity != null && !User.Identity.IsAuthenticated)
                {
                    <p class="text-muted fw-bold">*Login required</p>
                }
                <form asp-action="Search" method="GET">
                    <div class="input-group w-50">
                        <input type="text" id="searchQuery" name="searchQuery" class="form-control"
                            placeholder="Search TMDB Database" aria-label="Search Database" value="@ViewBag.searchQuery">
                        <button class="btn btn-lg btn-outline-success fw-bold" type="submit"><i class="fa-solid fa-magnifying-glass fa-lg"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-6 py-4 text-end">
                <p class="fs-4 fw-bold text-light">
                    Searching for series?
                </p>
                <p class="fs-2 fw-bold text-light">
                    Get bent, nerd.
                </p>
            </div>
        </div>